<!DOCTYPE html>
<html>

<head>
    <title> F1 Toys Store</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1>F1 Toys Store</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/realtimeproducts">Suma nuevos coleccionables</a>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>© 2024 F1 Toys Store</p>
    </footer>
</body>

</html>